config HIO_DEFAULTS
	bool "HIO_DEFAULTS"

config IDLE_STACK_SIZE
	default 2048 if HIO_DEFAULTS

config ISR_STACK_SIZE
	default 4096 if HIO_DEFAULTS

config HEAP_MEM_POOL_SIZE
	default 8192 if HIO_DEFAULTS

config MAIN_STACK_SIZE
	default 4096 if HIO_DEFAULTS

config PRIVILEGED_STACK_SIZE
	default 4096 if HIO_DEFAULTS

config SEGGER_RTT_BUFFER_SIZE_DOWN
	default 4096 if HIO_DEFAULTS && CTR_SHELL

config SEGGER_RTT_BUFFER_SIZE_UP
	default 4096 if HIO_DEFAULTS && CTR_SHELL

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 4096 if HIO_DEFAULTS

config IMG_BLOCK_BUF_SIZE
	default 256 if HIO_DEFAULTS

config SERIAL
	default n if HIO_DEFAULTS

config UART_CONSOLE
	default n if HIO_DEFAULTS

config SPI
	default n if HIO_DEFAULTS

config SPI_NOR
	default n if HIO_DEFAULTS

config FLASH
	default n if HIO_DEFAULTS

config FLASH_MAP
	default n if HIO_DEFAULTS
