config HIO_CLOUD
	bool "HIO_CLOUD"
	select HIO_BUF
	select HIO_INFO
	select HIO_LTE
	select HIO_RTC
	select HIO_SYS
	select EVENTS
	select ZCBOR
	select ZCBOR_STOP_ON_ERROR
	select SHELL
	select SHELL_BACKEND_DUMMY

if HIO_CLOUD

choice HIO_CLOUD_HASH
	prompt "Hash crypto backend"
	default HIO_CLOUD_HASH_TINYCRYPT if ZEPHYR_VERSION_MAJOR < 3
	default HIO_CLOUD_HASH_MBEDTLS if ZEPHYR_VERSION_MAJOR >= 3

config HIO_CLOUD_HASH_MBEDTLS
	bool "mbedTLS"
	select NRF_SECURITY
	select MBEDTLS_LEGACY_CRYPTO_C
	select MBEDTLS_SHA256_C
	select MBEDTLS_ENABLE_HEAP

config HIO_CLOUD_HASH_TINYCRYPT
	bool "TinyCrypt"
	select TINYCRYPT
	select TINYCRYPT_SHA256

config HIO_CLOUD_HASH_PSA
	bool "PSA Crypto"
	select NRF_SECURITY
	select MBEDTLS_PSA_CRYPTO_C
	select PSA_WANT_ALG_SHA_256

endchoice

config HIO_CLOUD_DEFAULT_ADDR
	string "HIO_CLOUD_DEFAULT_ADDR"
	default "157.245.24.13"
	#default "192.168.192.4"

config HIO_CLOUD_DEFAULT_PORT_HASH
	int "HIO_CLOUD_DEFAULT_PORT_HASH"
	default 5002

config HIO_CLOUD_DEFAULT_PORT_DTLS
	int "HIO_CLOUD_PORT_DTLS"
	default 5005

config SHELL_BACKEND_DUMMY_BUF_SIZE
	int "SHELL_BACKEND_DUMMY_BUF_SIZE"
	default 8192

config AT_MONITOR_HEAP_SIZE
	int "AT_MONITOR_HEAP_SIZE"
	default 1024

module = HIO_CLOUD
module-str = HIO CLOUD Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # HIO_CLOUD
