config HIO_CONFIG
	bool "HIO_CONFIG"
	select HIO_UTIL
	select HIO_SYS
	select CBPRINTF_FP_SUPPORT
	select FLASH
	select FLASH_MAP
	select NVS
	select REBOOT
	select SETTINGS
	select SETTINGS_RUNTIME

if HIO_CONFIG


config HIO_CONFIG_INIT_PRIORITY
	int "Initialization priority"
	default 0

config HIO_CONFIG_SETTINGS_PFX
	string "HIO_CONFIG_SETTINGS_PFX"
	default ""

config HIO_CONFIG_SHELL
	bool "HIO_CONFIG_SHELL"
	default y if SHELL

config HIO_CONFIG_ATCI
	bool "HIO_CONFIG_ATCI"
	default y if HIO_ATCI
	select HIO_TOK

module = HIO_CONFIG
module-str = HIO Configuration Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # HIO_CONFIG
