#
# Copyright (c) 2025 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config HIO_ATCI
	bool "HIO_ATCI"

if HIO_ATCI

rsource "backends/Kconfig.backends"

config HIO_ATCI_STACK_SIZE
	int "ATCI thread stack size"
	default 2048 if MULTITHREADING
	default 0 if !MULTITHREADING
	help
	  Stack size for thread created for each instance.

config HIO_ATCI_CMD_SHELL
	bool "ATCI command shell"
	default y if SHELL
	select SHELL_BACKEND_DUMMY

config HIO_ATCI_CMD_SHELL_AUTH_FLAGS
	int "ATCI command shell authentication flags"
	default 0

config HIO_ATCI_CMD_REBOOT
	bool "ATCI command reboot"
	default y
	help
	  Enable ATCI command for rebooting the device.
	  It is used to reset the device from the ATCI shell.

config HIO_ATCI_CMD_REBOOT_AUTH_FLAGS
	int "ATCI command reboot authentication flags"
	default 0
	help
	  Authentication flags for ATCI command reboot.
	  It is used to restrict access to the reboot command.

config HIO_ATCI_CMD_BUFF_SIZE
	int "ATCI command buffer size"
	default 256
	help
	  Maximum command size in bytes. One byte is reserved for the string
	  terminator character.

config HIO_ATCI_PRINTF_BUFF_SIZE
	int "ATCI print buffer size"
	default 30
	help
	  Maximum text buffer size for fprintf function.
	  It is working like stdio buffering in Linux systems
	  to limit number of peripheral access calls.

choice
	prompt "ATCI CRC mode"
	default HIO_ATCI_CRC_MODE_OPTIONAL

config HIO_ATCI_CRC_MODE_DISABLED
	bool "Disabled"
	help
	  CRC is not used at all.

config HIO_ATCI_CRC_MODE_STRICT
	bool "Strict"
	help
	  CRC must be present and valid. Otherwise, the command is rejected.

config HIO_ATCI_CRC_MODE_OPTIONAL
	bool "Optional"
	help
	  CRC is verified if present. If not present, the command is accepted.
endchoice

config HIO_ATCI_CRC_MODE
	int "ATCI CRC mode"
	default 0 if HIO_ATCI_CRC_MODE_DISABLED
	default 1 if HIO_ATCI_CRC_MODE_STRICT
	default 2 if HIO_ATCI_CRC_MODE_OPTIONAL

config HIO_ATCI_LOG_BACKEND
	bool "ATCI log backend"
	select LOG_OUTPUT
	default y if LOG

config HIO_ATCI_LOG_FORMAT_TIMESTAMP
	bool "Format timestamp"
	default y
	help
	  Enable timestamp formatting.

config HIO_ATCI_MODEM_TRACE
	bool "Modem trace output"
	default n
	select NRF_MODEM_LIB_TRACE
	select BASE64

choice NRF_MODEM_LIB_TRACE_BACKEND
    prompt "Modem trace backend"
    default NRF_MODEM_LIB_TRACE_BACKEND_RAM if HIO_ATCI_MODEM_TRACE
endchoice

module = HIO_ATCI
module-str = HIO ATCI Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # HIO_ATCI
