config HIO_LTE
	bool "HIO_LTE"
	select HIO_CONFIG
	select HIO_BUF
	select PM_DEVICE
	select POSIX_API
	select REQUIRES_FULL_LIBC
	select RING_BUFFER
	select NRF_MODEM_LIB
	select AT_MONITOR

if HIO_LTE

config HIO_LTE_DEFAULT_MODE
	string "HIO_LTE_DEFAULT_MODE"
	default "nb-iot"

config HIO_LTE_DEFAULT_BANDS
	string "HIO_LTE_DEFAULT_BANDS"
	default ""
	help
		original value: "2,4,5,8,12,13,17,18,19,20,25,26,28,66"

config HIO_LTE_DEFAULT_NETWORK
	string "HIO_LTE_DEFAULT_NETWORK"
	default ""

config HIO_LTE_DEFAULT_APN
	string "HIO_LTE_DEFAULT_APN"
	default ""
	help
		original value: "hardwario"

config HIO_LTE_DEFAULT_ADDR
	string "HIO_LTE_DEFAULT_ADDR"
	default "192.168.192.4"

config HIO_LTE_PORT
	int "HIO_LTE_PORT"
	default 5002

config HIO_LTE_INIT_PRIORITY
	int "HIO_LTE_INIT_PRIORITY"
	default 99

config HIO_LTE_THREAD_STACK_SIZE
	int "HIO_LTE_THREAD_STACK_SIZE"
	default 4096

config HIO_LTE_THREAD_PRIORITY
	int "HIO_LTE_THREAD_PRIORITY"
	default 10

config HIO_LTE_NCELLMEAS_MAX
	int "HIO_LTE_NCELLMEAS_MAX"
	default 5

config HEAP_MEM_POOL_SIZE
	int "HEAP_MEM_POOL_SIZE"
	default 8192

module = HIO_LTE
module-str = HIO LTE Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # HIO_LTE
